@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: #121212;
    font-family: 'Open Sans', sans-serif;
}

header
{
    background-color: #2a2a2a;
    height: 52px;
}

nav:nth-child(2) ul li{
    padding-inline: 10px;
    display: inline;
}

nav:nth-child(2) a
{

    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    color: #ccc;
    background-color: tomato;
    padding:20px 0px 20px 0px;
}

nav:nth-child(2) li:hover::before
{
    content: '';
    width: 100px;
    height: 5px;
    background-color: #007aff;
    position: absolute;
    margin-block: 50px;
}

.second-nav
{
    border: 1px solid green;
    max-width: 1000px;
    top: 30px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.second-nav ul li
{
    list-style: none;
    display: inline;
    padding-inline: 10px;
}

.second-nav a
{
    font-size: 13px;
    text-decoration: none;
    color: #ccc;
}

.second-nav a:hover
{
    color:white;
}

.second-nav input
{
    width: 230px;
    height: 40px;
    border: 0;
    border-radius: 3px;
    background-color: #2a2a2a;
    color: #ccc
}

@keyframes slide
{

    0%
    {
        background-image: url("https://cdn2.unrealengine.com/egs-kenabridgeofspiritsdigitaldeluxe-emberlab-editions-s1-2560x1440-d024d5de0a4f.jpg?h=480&resize=1&w=854");
        background-repeat: no-repeat;
    }

    100%
    {
        background-image: url("https://cdn2.unrealengine.com/egs-kenabridgeofspiritsdigitaldeluxe-emberlab-editions-s1-2560x1440-d024d5de0a4f.jpg?h=480&resize=1&w=854");
        background-repeat: no-repeat;
        transform: scale(2);

    }

}

.carrosel
{
    max-width: 1000px;
    height: 470px;
    margin: 0 auto;
    border: solid 1px red;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 100px; 
    animation-name: slide;
    transition-duration: 1s;
}