@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root
{
  --headerBG: white;
  --textos: black
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
  font-family: 'Roboto', sans-serif;
}

h2
{
  font-family: 'DM Serif Display', serif;
}

input
{
  width: 300px;
  margin:5px;
}

form button
{
  width: 200px;
  height: 30px;
  background-color: #cd3d0f;
  border-radius: 5px;
  border: none;
  color: white;
}

form div, form
{
  text-align: center;
}

header
{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6%;
  position: fixed;
  background-color: var(--headerBG);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.527);
  z-index: 9;
}

#bt-menu
{
  display:none;
}

header img {
  margin-left: 15px;
  height: 40px;
}

header nav ul {
  list-style: none;
}

header nav li {
  display: inline;
  padding-inline: 10px;
}


header nav a:hover {
  transform: scale(2);
  opacity: 90%;
  color: #cd3d0f;
}

header nav a {
  text-decoration: none;
  color: var(--textos);
  font-size: 0.8rem;
}

.mini-slide
{
  width:100%;
  height: max-content;
  display: flex;
  gap: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
}

.carousel-item img
{
  height: 600px;
  object-fit: cover;
}

.box-effect-text
{
  width: 600px;
  height: 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  left: calc((100% - 600px) / 2);
  top: 440px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0px 5px 15px black;
}

.box-2
{
  width: 400px;
  left: calc((100% - 400px) / 2);
  top: 310px;
}

.box-3
{
  top: 370px;
}

.box-4
{
  top: 300px;
}

.effect-text
{
  animation-duration: 2s;
  animation-name: effect-text;
}

.button-slide
{
  width: fit-content;
  border-radius: 35px;
  padding: 8px;
  border: none;
  background-color: #cd3d0f;
  color: white;
}

.button-2
{
  background-color: white;
  color: black;
}

.button-2:hover
{
  border: 1px solid rgb(221, 20, 20);
}

.button-3
{
  background-color: #2d64e6;
}

.seletor-slide
{
  height: 100px;
  border-radius: 10px;
  transition: 0.6s;
}

.seletor-slide:hover
{
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.527);
  transform: translate(0px, -10px);
}

.banner-parallax
{
  width: 100%;
  height: auto;
  background-image: url('https://static.vecteezy.com/ti/vetor-gratis/t2/1919672-abstract-gray-hexagon-and-halftone-background-conceptual-gr%C3%A1tis-vetor.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;

}

.box-horizon
{
  width: 70vw;
  transition-duration: 0.6s;
}

.box-horizon:hover
{
  transform: scale(1.03);
  cursor: pointer;
}

.banner-parallax h1
{
  text-align: center;
}

.bt-detalhes
{
  width: max-content;
  padding: 8px 50px 8px 50px;
  background-color: #cd3d0f;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  transition-duration: 1s;
}

.bt-detalhes:hover
{
  background-color: white;
  color:#cd3d0f;

}

.imagens-parallax
{
  display: flex;
  justify-content: center;
  gap: 2%;
}

.imagens-parallax div
{
  width: 250px;
  text-align: center;
  background-color: #1f1f1f;
  margin-bottom: 30px;
  color: white;
  font-size: 0.9rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imagens-parallax h1
{
  font-size: 1.5rem;
}

.banner-parallax img
{
  height: 120px;
}

.text-info-banner
{
  width: 70vw;
  margin: 0 auto;
  padding-top: 8%;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.darken-bg
{
  width: 100%;
  height: 500px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.411);
}

.banner-down
{
  width: 100%;
  height: 500px;
  margin: 5px 0 5px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

.background-banner-1
{
  background-image: url('https://imgur.com/0OodpU7.jpg');
}

.background-banner-2
{
  background-image: url('https://img.ppe.pl/upload/hot/80/21/35/1160/440/802135058.jpg');
}

